<pre>
{{ title }}

CPU utilization:     {{ cpu_utilization }}
Memory utilization:  {{ memory_utilization }}
Uptime:              {{ node_uptime }}
System uptime:       {{ system_uptime }}
Node version:        {{ node_version }}
Latest node version: {{ latest_node_version }}
{% for network in net_info %}

{{ network.name }}

Network state:       {{ network.state }}
Target state:        {{ network.target_state }}
Node address:        {{ network.address}}
Signed blocks today: {{ network.signed_blocks_today }}
Autocollect status:  {{ network.autocollect_status }}
Current rewards:     {{ network.rewards }}

{% endfor %}
</pre>